:root {
	--white: #FFFFFF;
	--black: #071A2B;
	--green: #028043;
	--green-2: #54DF62;
	--green-3: #BDFABE;
	--purple: #907AFF;
	--purple-2: #E8D7F9;
	--blue: #008CFF;
	--blue-2: #BDEBFA;
	--red: #FF5252;
	--orange: #FBB605;
	--gray: #334553;
	--gray-2: #8F9FAB;
	--pagebg: #F4F5F7;
}

body {
	background-color: var(--pagebg) !important;
}

.print-view {
	display: none;
}

@media print {
	body {
		background-color: #ffffff !important;
	}

	@page {
		size: auto;
	}

	.no-print {
		display: none !important;
	}

	.print-view {
		display: block;
	}

	.license-card {
		border-radius: 0;
		margin-inline: auto;
	}
}

/*a:hover {
	color: var(--green);
}
*/